<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Pie chart</h2>
      <canvas id="pieChart"></canvas>
    </div>
    <div class="col-md-6">
      <h2>Bar chart</h2>
      <canvas id="barChart"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <h2>bubble chart</h2>
    <canvas id="bubbleChart"></canvas>
  </div>
    <div class="col-md-6">
    <h2>Bar chart</h2>
    <canvas id="lineChart"></canvas>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <h2>doughnut chart</h2>
    <canvas id="doughnutChart"></canvas>
  </div>
    <div class="col-md-6">
      <h2>radar chart</h2>
      <canvas id="radarChart"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Scatter chart</h2>
      <canvas id="scatterChart"></canvas>
    </div>
    <div class="col-md-6">
      <h2>Scatter chart</h2>
      <canvas id="polarAreaChart"></canvas>
    </div>
  </div>
</div>
